.logo {
  width: 100px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.nav-items > ul > li {
  padding: 10px;
}
.nav-items > ul > a {
  padding: 10px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.card > h3 {
  word-wrap: break-word;
}
.card > img {
  width: 100%;
}

.resturant-list {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  height: 200px;
  width: 200px;
  background-color: lightgray;
  margin: 2px;
}

.menu{
  display: flex;
}
